<!-- Display GoatCounter pageviews -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const pv = document.getElementById("pageviews");
    if (pv !== null) {
      const uri = location.pathname.replace(/\/$/, "");
      const url = `https://0620.goatcounter.com/counter/${encodeURIComponent(
        uri
      )}.json`;

      fetch(url)
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          const count = data.count.replace(/\s/g, "");
          pv.innerText = new Intl.NumberFormat().format(count);
        })
        .catch((error) => {
          console.error(
            "There has been a problem with your fetch operation:",
            error
          );
          pv.innerText = "1"; // Fallback value
        });
    }
  });
</script>
