---
layout: page
# The Contact Page.
---

{% include lang.html %}

<section>
    <div class="">
    <div class="">
        <p>
        We would love to hear from you! If you have any questions,
        prayer requests, or would like to get involved with our church
        community, please reach out to us using the contact information
        below.
        </p>

        <div>
        <div>
            <i class="fa-brands fa-facebook fa-fw"></i>
            <a href="https://www.facebook.com/GIFTPASAY" target="_blank">UPC Pasay - GIFT</a>
        </div>
        <div>
            <i class="fa-solid fa-phone fa-fw"></i>
            <a href="tel:09205703382">0920 570 3382</a>
        </div>
        <div>
            <i class="fa-solid fa-envelope fa-fw"></i>
            <a href="mailto:upcgiftpasay@gmail.com">upcgiftpasay@gmail.com</a>
        </div>
        <div>
            <i class="fa-solid fa-location-dot fa-fw"></i>
            <a href="https://g.co/kgs/GXztGwH" target="_blank">719 P. Rivera St. Brgy 116, Zone 14, Pasay City, Philippines, 1300</a>
        </div>
        </div>
    </div>
    </div>
</section>